
body {
  background: #FFFFFF;
  font-family: $sans;

  max-width: 100%;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;

  .content-about {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;

    transition: all 0.2s linear;
  }
}

.about {
  .content-about {

    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: #000;*/
    background: rgba(0,0,0,0.7);
    color: #FFF;
    opacity: 1;
    visibility: visible;

    .close {
      font-size: 50px;
      color: #FFF;
      text-decoration: none;
      position: absolute;
      top: 10px;
      right: 25px;
    }
  }
}


header {
  
  font-size: 18px;
  line-height: 22px;

  overflow: hidden;
  padding: 50px 0 20px;
  text-transform: uppercase;
  font-family: $sansTitle;

  h1 {
    float: left;
    padding: 0;
  }
  .menu {
    float: right;

    li {
      display: inline-block;
      margin-left: 15px;
    }
    a {
      
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      padding: 0;
      margin: 0;

      text-transform: uppercase;
      background: none;
      border: none;
      text-decoration: none;
      color: #000;

      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: auto;


        height: 1px;
        width: 0;
        background: #000;

        transition: width 0.2s ease-in-out;
      }
      &:hover {
        &:after {
          left: 0;
          right: auto;

          width: 100%;
        }
      }
    }
  }
}

footer {
  text-align: center;
  margin: 30px 0;

  a {
    color: #000;
    text-decoration: none;
  }
}
