
.projects {
  margin: 30px auto 0;
  overflow: hidden;

  .project {
    position: relative;
    display: block;
    width: 270px;
    height: 270px;
    float: left;
    margin: 0 20px 20px 0;
    background: #F3F3F3;
    
    a {
      display: block;
      width: 100%;
      height: 100%;
      color: #FFF;
    }

    img {
      display: block;
      width: 100%;
    }

    span {
      display: block;
    }

    .titles {
      position: absolute;
      
      height: 100%;
      width: 100%;
      text-align: center;
      
      background: rgba(0,0,0,0.7);
      opacity: 0;
      transition: opacity 0.2s linear 0.05s;
    }

    .title {

      font-size: 24px;
      color: #FFF;
      margin: 110px 0 10px;

      transform: translate3d(0, 20px, 0);
      transition: transform 0.25s ease-in-out 0.15s;
    }
    .context {
      font-size: 18px;
      color: #B9B9B9;

      transform: translate3d(0, 20px, 0);
      transition: transform 0.25s ease-in-out 0.1s;
    }
    .dash {
      font-size: 18px;
      color: #FFFFFF;
      margin-top: 4px;

      transform: translate3d(0, 20px, 0);
      transition: transform 0.25s ease-in-out;
    }

    &:hover {
      .titles {
        opacity: 1;
        transition: opacity 0.2s linear;
      }
      .title {
        transform: translate3d(0, 0, 0);
        transition: transform 0.25s ease-in-out;
      }
      .context {
        transform: translate3d(0, 0, 0);
        transition: transform 0.25s ease-in-out 0.1s;
      }
      .dash {
        transform: translate3d(0, 0, 0);
        transition: transform 0.25s ease-in-out 0.15s;
      }
    }
  }



  @for $i from 1 through 20 {
    .project:nth-child(#{$i}) {
      transition: opacity .3s linear $i*0.05s;
    }
  }

  &.fade-enter-active {
    transition: opacity .3s linear;

    .project {
      opacity: 0;
    }

  }
  &.fade-leave-active {
    transition: opacity .3s linear;
  }
  
  &.fade-enter, 
  &.fade-leave-to
    /* .fade-leave-active below version 2.1.8 */ {
  }

  &.fade-leave-to {
    .project {
      opacity: 0;
    }
  }
}
