
.project-content {
  /*transition: transform .5s cubic-bezier(.55,0,.1,1);*/
}

.slide-left-enter {
  .project-content {
    /*transform: translate3d(810px, 0, 0);*/
  }
}
.slide-left-leave-active {
  .project-content {
    /*transform: translate3d(-810px, 0, 0);*/
  }
}

.project {
  /*overflow: hidden;*/

  .project-nav {
    width: 50%;
    margin: -38px 0 40px 25%;
    text-align: center;
    
    font-family: $sansTitle;
    color: $lightgrey;

    .btn-prev,
    .btn-next {
      color: $lightgrey;
      text-decoration: none;
      padding: 10px 15px;
      /*font-size: 24px;*/
    }
    .nav-index {
      display: inline-block;
      text-align: center;
      width: 40px;
    }
  }

  .project-content {
    overflow: hidden;
    /*position: absolute;*/
  }

  .column {

  }

  .column-media {
    float: left;
    width: 810px;

    img,
    video {
      display: block;
      width: 100%;
      margin-bottom: 20px;
    }
    video {
      height: 535px;
    }
  }
}

.column-text {
  float: left;
  width: 285px;

  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  &.right-aligned {
    margin-left: 35px;
  }
  &.left-aligned {
    margin-right: 35px;
  }

  .block {
    margin-bottom: 20px;
  }
  .block-title {
    h1 {
      font-size: 24px;
    }
    p {
      font-size: 18px;
      color: $lightgrey;
    }

    &:after {
      content: "";
      display: block;
      width: 13px;
      height: 2px;
      background: #000;
      margin-top: 20px;
    }
  }

  .block-client {
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .block-description,
  .block-awards {
    &:before {
      content: "";
      display: block;
      width: 13px;
      height: 2px;
      background: #000;
      margin: 20px 0;
    }
  }

  .block-awards {
    h3 {
      color: $lightgrey;
      font-size: 18px;
      margin-bottom: 10px;
    }
    .award-detail {
      margin-bottom: 10px;
    }
    p {
      font-style: 14px;
      line-height: 18px;
    }
    .category {
      color: $lightgrey;
    }
  }

  a {
    color: #000;

    &:hover {
      text-decoration: none;
    }
  }
}