
.project {
  /*overflow: hidden;*/
  height: 100%;

  .project-nav {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    margin: -30px auto 40px;
    text-align: center;
    
    font-family: $sansTitle;
    color: $lightgrey;

    .btn-prev,
    .btn-next {
      color: $lightgrey;
      display: inline-block;
      text-decoration: none;
      font-size: 24px;
      line-height: 12px;

      width: 40px;
      height: 28px;
      padding-top: 12px;

      transform: translateX(0);
      transition: transform 0.2s ease-in-out;
    }
    .btn-prev:hover {
      transform: translateX(-5px);
    }
    .btn-next:hover {
      transform: translateX(5px);
    }
    .nav-index {
      display: inline-block;
      text-align: center;
      width: 40px;
      font-size: 12px;
    }
  }

  .project-content {
    overflow: hidden;
    /*position: absolute;*/
  }

  .column {

  }

  .block,
  .media-item {
    opacity: 1;
    /*transform: translateY(0);*/
  }

  @for $i from 1 through 10 {
    .block:nth-child(#{$i}) {
      /*transition: all .3s ease-in-out $i*0.05s;*/
      transition: opacity .3s linear $i*0.05s;
    }
    .media-item:nth-child(#{$i}) {
      /*transition: all .3s ease-in-out $i*0.05s+0.1s;*/
      transition: opacity .3s linear $i*0.05s+0.1s;
    }
  }


  &.fade-enter-active {
    transition: opacity .3s linear;

    .block,
    .media-item,
    .project-nav {
      opacity: 0;
    }

  }
  &.fade-leave-active {
    transition: opacity .3s linear;
  }
  
  &.fade-enter, 
  &.fade-leave-to
    /* .fade-leave-active below version 2.1.8 */ {
  }

  &.fade-leave-to {
    .block,
    .media-item {
      opacity: 0;
    }
  }
}

.column-media {
  float: left;
  width: 820px;

  img,
  video {
    background: #FCFCFC;
    display: block;
    margin-bottom: 20px;
    width: 100%;

    /*display: none;*/
  }
  video {
    height: 535px;
  }
}

.column-text {
  float: left;
  width: 285px;

  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  &.right-aligned {
    margin-left: 35px;
  }
  &.left-aligned {
    margin-right: 35px;
  }

  .block {
    margin-bottom: 20px;
  }
  .block-title {
    h1 {
      font-size: 24px;
    }
    p {
      font-size: 18px;
      color: $lightgrey;
    }

    &:after {
      content: "";
      display: block;
      width: 13px;
      height: 2px;
      background: #000;
      margin-top: 20px;
    }
  }

  .block-client {
    a {
      @extend .underline-over;
    }

    span {
      display: block;
      color: $lightgrey;
    }
    .client {
      line-height: 12px;
    }
    .context {
      margin-top: 10px;
    }
  }

  .block-links {
    a {
      @extend .underline;
    }
  }

  .block-description,
  .block-awards {
    &:before {
      content: "";
      display: block;
      width: 13px;
      height: 2px;
      background: #000;
      margin: 20px 0;
    }

    a {
      @extend .underline;
    }
  }

  .block-awards {
    h3 {
      color: $lightgrey;
      font-size: 18px;
      margin-bottom: 10px;
    }
    .award-detail {
      margin-bottom: 10px;
    }
    p {
      font-style: 14px;
      line-height: 18px;
    }
    .category {
      color: $lightgrey;
    }
  }

  a {
    color: #000;

    &:hover {
      text-decoration: none;
    }
  }
}
