
@media screen and (min-width: 1180px) {
	.projects {
		.project:nth-child(4n) {
	      margin-right: 0;
	    }
	}
	.project {
		.project-nav-secondary {
			display: none;
		}
	}
}

@media screen and (max-width: 1180px) {
	
	.content-about {

		&-inner {
			position: static;
			top: auto;
			transform: none;
		}

		.col-left {
			display: none;
		}
		.col-right {
			float: none;
			width: 100%;

			position: absolute;
			top: 0;
			bottom: 0;
			overflow-y: scroll;
		}
		.text-content {
			margin: 20px;
		}
		.close {
			top: 0;
			right: 0;
		}
	}
}

@media screen and (max-width: 1180px) and (min-width: 890px) {
	.wrapper {
		max-width: 850px;
	}
	.column-media {
		width: 580px;

		video {
			height: 368px;
		}
	}
	.column-text {
		width: 235px;
	}

	.projects {
		.project:nth-child(3n) {
			margin-right: 0;
		}
	}
	.project {
		.project-nav-secondary {
			display: none;
		}
	}
}
@media screen and (max-width: 890px) {
	header {
		border-bottom: 1px solid #B9B9B9;
		margin-bottom: 40px;
	}

	.project-content {
		display: flex;
		flex-direction: column;
	}

	.column-media {
		width: 100%;

		video {
			height: 368px;
		}
	}
	.column-text {
		order: -1;
		width: 100%;

		&.left-aligned {
			margin-right: 0;
		}
		&.right-aligned {
			margin-left: 0;
		}
	}
	.project {
		.project-nav {
			display: none;
			margin-top: 0;
			margin-bottom: 20px;
		}
		.project-nav-secondary {
			display: block;
		}
	}
}
@media screen and (max-width: 890px) and (min-width: 600px) {

	.wrapper {
		max-width: 560px;
	}
	
	.projects {
		.project:nth-child(2n) {
			margin-right: 0;
		}
	}
}

@media screen and (max-width: 600px) {

	header {
		padding-top: 20px;

		h1 {
		    width: 44%;
		}
  
	  	.menu-link {
	    	width: 28%;
		}
		.link-work {
			text-align: right;
		}
	}
	.column-media {
		video {
			height: 190px;
		}
	}

	.wrapper {
		max-width: 100%;
		margin: 0 20px;
	}
	.projects {
		margin-top: 0;

		.project {
			margin-right: 0;
			height: auto;
			width: 100%;
		}
	}
}